/* Reset and global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    padding: 20px;
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4A90E2;
    text-align: center;
}

.upload-label {
    display: inline-block;
    background-color: #4A90E2;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    transition: background-color 0.3s;
}

.upload-label:hover {
    background-color: #357ABD;
}

.canvas-container {
    width: 100%;
    max-width: 90%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px;
}

canvas {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
}

button {
    background-color: #4A90E2;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ABD;
}
